<div
  class="container"
  [style.background-color]="data().backgroundColor"
  [style.color]="data().color"
>
  <h4 class="title">{{ data().label | truncate : 14 }}</h4>
  <button
    mat-icon-button
    class="settings-button"
    (click)="showOptions.set(true)"
    [style.--mdc-icon-button-icon-color]="data().color"
  >
    <mat-icon>settings</mat-icon>
  </button>

  @switch (data().content) { @case (LightComponent) {
  <app-light [id]="data().id"></app-light>
  } @case (TemperatureComponent) {
  <app-temperature [id]="data().id"></app-temperature>
  } @case (SecurityCameraComponent) {
  <app-security-camera [id]="data().id"></app-security-camera>
  } @case (EnergyComponent) {
  <app-energy [id]="data().id"></app-energy>
  } @case (RollerShutterComponent) {
  <app-roller-shutter [id]="data().id"></app-roller-shutter>
  } @case (LockComponent) {
  <app-lock [id]="data().id"></app-lock>
  } @default {
  <app-light [id]="data().id"></app-light>
  } } @if (showOptions()) {
  <app-widget-options
    [(showOptions)]="showOptions"
    [data]="data()"
    (dataChange)="onDataChange($event)"
    (moveRight)="store.moveWidgetRight(data().roomId, data().id)"
    (moveLeft)="store.moveWidgetLeft(data().roomId, data().id)"
    (delete)="store.removeWidgetFromRoom(data().roomId, data().id)"
  />
  }
</div>
