<button mat-icon-button class="close-button" (click)="close()">
  <mat-icon>close</mat-icon>
</button>

<div>
  <p class="width">Width</p>

  <mat-button-toggle-group
    hideSingleSelectionIndicator="true"
    [value]="data.columns"
    (change)="updateData({ columns: +$event.value })"
    class="width"
  >
    <mat-button-toggle [value]="1">1</mat-button-toggle>
    <mat-button-toggle [value]="2">2</mat-button-toggle>
    <mat-button-toggle [value]="3">3</mat-button-toggle>
    <mat-button-toggle [value]="4">4</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div>
  <p class="height">Height</p>

  <mat-button-toggle-group
    hideSingleSelectionIndicator="true"
    [value]="data.rows"
    (change)="updateData({ rows: +$event.value })"
    class="height"
  >
    <mat-button-toggle [value]="1">1</mat-button-toggle>
    <mat-button-toggle [value]="2">2</mat-button-toggle>
    <mat-button-toggle [value]="3">3</mat-button-toggle>
    <mat-button-toggle [value]="4">4</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<button mat-icon-button class="forward-button" (click)="moveRight.emit()">
  <mat-icon>chevron_right</mat-icon>
</button>

<button mat-icon-button class="backward-button" (click)="moveLeft.emit()">
  <mat-icon>chevron_left</mat-icon>
</button>

<button mat-icon-button class="remove-button" (click)="delete.emit()">
  <mat-icon>delete</mat-icon>
</button>
