.security-widget {
  margin-top: -0.4rem;
  background-color: rgb(196, 30, 58);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  z-index: 0;
  height: 70%;

  transition: background-color 0.3s, transform 0.2s;

  &.active {
    background-color: limegreen;
    transform: scale(1.05);
  }

  .camera-button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;

    &:hover {
      transform: scale(1.2);
    }
  }

  p {
    font-size: 12px;
    margin-top: 4px;
  }
}
