<div class="widget light-widget" [class.active-widget]="isOn">
  <div class="light-header">
    <div class="light-text">
      <mat-icon class="light-icon">lightbulb</mat-icon>
      <span class="brightness-label">{{ brightnessLabel }}</span>
    </div>
    <button class="power-button" (click)="toggleLight()">
      <mat-icon>{{ isOn ? "power_settings_new" : "power_off" }}</mat-icon>
    </button>
  </div>

  <mat-slider min="0" max="100" step="1" discrete>
    <input
      matSliderThumb
      [value]="brightness"
      (valueChange)="updateBrightness($event)"
    />
  </mat-slider>
</div>
