.about {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 3rem;

  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .header {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .features {
    ul,
    li {
      list-style-type: none;
      margin-bottom: 0.5rem;
    }
    li:first-child {
      font-size: 2rem;
    }
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .footer {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
