.login {
  margin: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    .inputs {
      width: 100%;
    }
    .submit {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 2rem;
    }
    a {
      color: white;
    }
  }
}

.error {
  display: flex;
  justify-content: center;

  .error-message {
    display: flex;
    align-items: center;
    gap: 0.5px;
    padding: 0.75px;
    margin: 1rem 0;

    width: auto;

    border-radius: 0.25rem;
    background-color: #f8d7da;
    color: #dc3545;
    border: 0.0625rem solid #f5c6cb;
    animation: 0.3s ease-in;

    .error-icon {
      font-size: 1.25rem;
      width: 1.25rem;
      height: 1.25rem;
    }

    .close-button {
      background-color: #f8d7da;
      color: #dc3545;
    }

    mat-icon {
      margin: 0;
    }
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

@media screen and (max-width: 1500px) {
  .login {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .login {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .login {
    margin-top: 0;
    width: 100%;
    box-shadow: none;
  }
}
