<div class="home">
  @if (userService.currentUserSubject.value) {
  <div class="add">
    <h2>Widgets</h2>

    <button mat-raised-button (click)="openDialog()" class="add-widgets">
      New widget
    </button>
  </div>

  <!-- Szoba választó -->
  <div class="select">
    <mat-form-field>
      <mat-label>Select room</mat-label>
      <mat-select
        [value]="currentRoom$ | async"
        (selectionChange)="selectRoom($event.value)"
      >
        @for (room of rooms$ | async; track room.id) {
        <mat-option [value]="room">{{ room.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  @if (widgetError | async) {
  <div class="error">
    <div class="error-message">
      <mat-icon class="error-icon">error_outline</mat-icon>
      <span>{{ widgetError | async }}</span>
      <button
        mat-flat-button
        (click)="widgetError.next('')"
        class="close-button"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
  } @if ((rooms$ | async)?.length === 0) {
  <div class="empty-not-selected">
    <p>You have no rooms</p>
  </div>
  } @else { @if (currentRoom$ | async; as currentRoom) { @if (!(rooms$ |
  async)?.includes(currentRoom)) {
  <div class="empty-not-selected">
    <p>There is no room selected</p>
  </div>
  } } } }@else {
  <div class="login-register">
    <h2>Welcome to SmartHome</h2>
    <div>
      <p>
        Control your home with ease. Log in or create an account to get started!
      </p>
    </div>
    <div class="button-group">
      <button mat-raised-button type="button" [routerLink]="['/login']">
        Login
      </button>
      <button mat-raised-button type="button" [routerLink]="['/registration']">
        Registration
      </button>
    </div>
  </div>
  }
  <!-- Widgetek megjelenítése -->
  <div #dashboard class="dashboard-widgets">
    @for (widget of (currentRoom$ |async)?.devices; track widget.id) {
    <app-widget [data]="widget"></app-widget>
    }
  </div>
</div>
