<div class="home">
  <div class="add">
    <h2>Channel Dashboard</h2>
    <button mat-flat-button [mat-menu-trigger-for]="widgetMenu">
      <mat-icon>add_circle</mat-icon>
      Add Widget
    </button>
    <mat-menu #widgetMenu="matMenu">
      @for (widget of store.widgetsToAdd$ | async; track widget.id) {
      <button mat-menu-item (click)="store.addWidget(widget)">
        {{ widget.label }}
      </button>
      } @empty {
      <button mat-menu-item>No widgets to add</button>
      }
    </mat-menu>
  </div>

  <mat-form-field class="example-form-field">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="value" />
  </mat-form-field>
  {{ value }}
  <mat-form-field>
    <mat-label>Widget type</mat-label>
    <mat-select [(ngModel)]="selectedWidget">
      @for (widget of widgets; track widget.value) {
      <mat-option [value]="widget.value">{{ widget.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  {{ selectedWidget }}

  <button mat-menu-item (click)="newWidget()">Mentés</button>
  {{ id_value }}
  <div #dashboard class="dashboard-widgets">
    @for (w of store.addedWidgets | async; track w.id) {
    <app-widget [data]="w"></app-widget>
    }
  </div>
</div>
